.MMM-MovieNite {
  max-width: 33.33vw;
}

.MMM-MovieNite > h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.MMM-MovieNite > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.MMM-MovieNite .movies {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.MMM-MovieNite .movies:first-child {
  margin-right: 10px;
}

.MMM-MovieNite .movies:last-child {
  margin-left: 10px;
}

.MMM-MovieNite .movie-poster {
  max-width: 200px;
}

.MMM-MovieNite .movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex: 1 1 0;
  text-align: center;
}

.MMM-MovieNite .movie img {
  max-width: 100%;
  height: auto;
}
