{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <h1 class="bright medium">
    {{ theme }}
  </h1>
  <p>
    {{ date }}
  </p>
  <div class="movies">
    {% for movie in movies %}
      <div class="movie">
        <img
          src="{{ movie.posterUrl }}"
          class="movie-poster"
          alt=""
        ></img>

        {{ movie.title }}
      </div>
    {% endfor %}
  </div>
{% endif %}
